@{
    ViewBag.Title = "Home Page";
}
@model OfficeReservationCalculator.ViewModels.HomeViewModel


<div class="container">
    <div class="row place-date-picker">
        @* left column - choose month *@
        <div class="col-sm-6">
            <label for="wantedMonth" class="handwriting">Choose a month:</label>
            <br />
            <input name="wantedMonth" id="wantedMonth" class="date-picker" autocomplete="off" />
        </div>

        @* right column - hidden until month chosen. used to display calculations *@
        <div class="col-sm-6" id="rShowResults" style="display: none;">
            <p class="handwriting">
                expected revenue: <b id="month_revenue">???</b>,
                <br />
                expected total capacity of the unreserved offices: <b id="unreserved_offices">???</b>
            </p>
        </div>
    </div>
</div>



@section scripts{
    <script src="../../Scripts/ORC/Index.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}


